#---- Django
Django>=3.0,<4.0
psycopg2>=2.8
djangorestframework
django-storages
Pillow
djangorestframework-simplejwt
bcrypt
django-cors-headers
#---- S3 bucket
boto3
#---- Celery
celery
#redis
#---- swagger
drf-yasg
#---- Yolov5
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
torch==1.10.1
torchvision==0.11.2
pandas
PyYAML==5.4.1
requests
matplotlib
seaborn>=0.11.0
tqdm>=4.41.0
setuptools<=59.5.0
matplotlib>=3.2.2
Pillow>=7.1.2

django-prometheus
gunicorn
