@font-face {
  font-family: 'nintendo';
  src: url(../../../public/font/slkscr.ttf)
}
/* 3D button colors */
.btn_3d_red {
  position: absolute;
  top: 25vh;
  right: 0;
  bottom: 0;
  left: .142rem;
  width: 20vw;
  height: 5vh;
  flex-grow: 0;
  border: solid 0.1vw rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e74c3c;
  box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #C24032,
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn_3d_red:active {
  box-shadow: 0 0 0 1px #c63702 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}
.Login_11 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.aa_1 {
  position: absolute;
  align-items: center;
  align-content: center;
  width: 50%;
  z-index: 0;
}
.aa_1_image {
  width: 100%;
  height: 100%;
}

.Group_34 {
  position: absolute;
  top: 25%;
  left: 67%;
  right: 24.313rem;
  bottom: 41.478rem;
  width: 25%;
  height: 15%;
  font-family: 'nintendo';
}

.Sign_in {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 5vh;
  font-family: 'nintendo';
  font-size: 3vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.If_you_dont_have_an_account_register {
  position: absolute;
  top: 7.5vh;
  left: 0;
  bottom: 2.035rem;
  width: 20vw;
  height: 5vh;
  font-family: 'nintendo';
  font-size: 1.5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.You_can_Register_here_ {
  position: absolute;
  top: 12vh;
  left: 0;
  width: 20vw;
  height: 5vh;
  font-family: 'nintendo';
  font-size: 1.2vw;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0089ed;
}

.You_can_Register_here_ .text_style_1 {
  font-weight: normal;
  color: #000;
}

.Group_38 {
  position: absolute;
  top: 45%;
  left: 67%;
  right: 15.75rem;
  bottom: 25.941rem;
  width: 25%;
  height: 40%;
  margin: 0 0 1.153rem;
  
}

.Email {
  position: absolute;
  top: 0;
  left: 0.1vw;
  width: 3vw;
  height: 2vh;
  font-family: 'nintendo';
  font-size: 0.9vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Vector_Email_icon{
  position: absolute;
  top: 4.5vh;
  left: 0.1vw;
  width: 1vw;
  height: 1vh;
  background: url(../../assets/images/mail_icon.png);
}

.Enter_your_email_address {
  position: absolute;
  top: 3.5vh;
  left: 1.5vw;
  width: 13vw;
  height: 3vh;
  padding-left: 0.5vw;
  padding-right: 5vw;
  font-family: 'nintendo';
  font-size: 0.8vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  border: none;
}

.Rectangle_8 {
  position: absolute;
  top: 7.5vh;
  left: 0.142rem;
  width: 20vw;
  height: 0.2vh;
  background-color: #000;
}

.Password {
  position: absolute;
  top: 11vh;
  left: 0.1vw;
  width: 5vw;
  height: 2vh;
  font-family: 'nintendo';
  font-size: 0.9vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Vector_Password_icon {
  position: absolute;
  top: 15vh;
  left: 0.1vw;
  width: 1vw;
  height: 1vh;
  background: url(../../assets/images/mail_icon.png);
} 

.Enter_your_Password {
  position: absolute;
  top: 14vh;
  left: 1.5vw;
  width: 13vw;
  height: 3vh;
  padding-left: 0.5vw;
  padding-right: 5vw;
  font-family: 'nintendo';
  font-size: 0.8vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  border: none;
}

.Rectangle_9 {
  position: absolute;
  top: 18vh;
  left: 0.142rem;
  width: 20vw;
  height: 0.2vh;
  background-color: #000;
}

.Rectangle_10 {
  position: absolute;
  top: 25vh;
  right: 0;
  bottom: 0;
  left: .142rem;
  width: 20vw;
  height: 5vh;
  flex-grow: 0;
  border-radius: 5vw;
  box-shadow: 0 50vw 30vh 0 rgba(0, 0, 0, 0.25);
  border: solid 0.1vw rgba(0, 0, 0, 0.3);
  background-color: #4498d0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rectangle_10:hover {
  background-color: #74acd1;
}

.Login {
  position: absolute;
  width: 5vw;
  height: 2vh;
  font-family: 'nintendo';
  font-size: 0.9vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
}

@media screen and (max-width: 820px) {
	/* 모바일에 사용될 스트일 시트를 여기에 작성합니다. */
  .Login_11 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .aa_1 {
    position: absolute;
    left: 0;
    right: 65.125rem;
    width: 50%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 2vw;
  }
  
  .Sign_in {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 5vh;
    font-family: 'nintendo';
    font-size: 2vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .Group_38 {
    position: absolute;
    top: 55%;
    left: 65%;
    right: 15.75rem;
    bottom: 25.941rem;
    width: 25%;
    height: 45%;
    margin: 0 0 1.153rem;
  }
  
  
  .You_can_Register_here_ {
    position: absolute;
    top: 18vh;
    left: 0;
    width: 20vw;
    height: 5vh;
    font-family: 'nintendo';
    font-size: 0.8vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0089ed;
  }

  .Vector_Email_icon{
    position: absolute;
    top: 6vh;
    left: 0.1vw;
    width: 1vw;
    height: 1vh;
    background: url(../../assets/images/mail_icon.png);
  }

  .Enter_your_email_address {
    position: absolute;
    top: 5vh;
    left: 2vw;
    width: 20vw;
    height: 3vh;
    padding-left: 0.5vw;
    padding-right: 1vw;
    font-family: 'nintendo';
    font-size: 0.8vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    border: none;
  }  

  .Rectangle_8 {
    position: absolute;
    top: 9.5vh;
    left: 0.142rem;
    width: 23vw;
    height: 0.3vh;
    background-color: #000;
  }

  .Vector_Password_icon {
    position: absolute;
    top: 16vh;
    left: 0.1vw;
    width: 1vw;
    height: 1vh;
    background: url(../../assets/images/mail_icon.png);
  } 

  .Enter_your_Password {
    position: absolute;
    top: 15vh;
    left: 2vw;
    width: 18vw;
    height: 3vh;
    padding-left: 0.5vw;
    padding-right: 3vw;
    font-family: 'nintendo';
    font-size: 0.8vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    border: none;
  }

  .Rectangle_9 {
    position: absolute;
    top: 20vh;
    left: 0.142rem;
    width: 23vw;
    height: 0.3vh;
    background-color: #000;
  }

  .Rectangle_10 {
    position: absolute;
    top: 25vh;
    right: 0;
    bottom: 0;
    left: .142rem;
    width: 20vw;
    height: 7vh;
    flex-grow: 0;
    border-radius: 5vw;
    box-shadow: 0 50vw 30vh 0 rgba(0, 0, 0, 0.25);
    border: solid 0.1vw rgba(0, 0, 0, 0.3);
    background-color: #4498d0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Login {
    position: absolute;
    width: 6vw;
    height: 5vh;
    font-family: 'nintendo';
    font-size: 0.9vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
  }
}
