.page{
    background-color: #F5EDDC;
    display: flex;
    justify-content: space-evenly;
    height: 90vh;

}

.uploadpage_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.nintendo_top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 48.5rem;
    height: 22.386rem;
    flex-grow: 0;
    border: solid 4.8px #000;
    border-radius: 36.1607px 36.1607px 12.0536px 12.0536px;

}

.outBox {
    width: 29rem;
    height: 18rem;
    border: solid 4.8px #0d0c0d;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inBox {
    width: 28rem;
    height: 17rem;
    border: solid 4.8px #0d0c0d;
    background-color: skyblue;
}

.middleBar {
    position: relative;
    width: 48.6rem;
    height: 2.607rem;
    flex-grow: 0;
    border-radius: 42.2px;
    border: solid 4.8px #0d0c0d;
    background-color: blue;
    z-index: 2;
}

.nintendo_under {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-top: -2.3rem;
    width: 48.5rem;
    height: 22.874rem;
    flex-grow: 0;
    border: solid 4.8px #000;
    background-color: pink;
    border-radius: 12.0536px 12.0536px 36.1607px 36.1607px ;
    padding-top: 2.3rem;
}

.previewimg{
    width: 27rem;
    height: 16rem;
    justify-content: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nintendo_under_right{
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media screen and (max-width: 71.875rem) {
    .page {
        background-color: #F5EDDC;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .displayPort {
        z-index: -1;
    }
}
@media screen and (max-height: 58.125rem){
    .displayPort {
        z-index: -1;
        }
}