.page{
    background-color: #F5EDDC;
    display: flex;
    justify-content: space-evenly;
    height: 90vh;

}



.UploadImageBox {
    width: 32.375rem;
    height: 25.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 1.625rem 1.937rem 1.875rem 0;
    padding: 3.5rem;
    margin-top: 9.938rem;
    margin-left:2.875rem;
    border-radius: 10px;
    border: dashed 1px rgba(0, 0, 0, 0.25);
}
.previewimg{
    width: 600px;
    height: 600px;
    justify-content: center;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 71.875rem) {
    .page {
        background-color: #F5EDDC;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .displayPort {
        z-index: -1;
    }
}
@media screen and (max-height: 58.125rem){
    .displayPort {
        z-index: -1;
        }
}