.displayPort {
    z-index: 0;
    object-fit: contain;
    background-color: #E0E0E0;
    position: relative;
    margin-top: -10rem;
}

.concon{
    z-index: 3;
    width: 39.5rem;
    height: 44.275rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 4px;
    margin-left: 1.375rem;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 16px;
    border: solid 1.3rem #da1b32;
    background-color: #f2f2f2;
    box-shadow: 0.4rem 0.4rem #78101D;
}

.fishList {
    display: inline-block;
    height: 25px;
    flex-grow: 0;
    font-family: 'nintendo';
    font-size: 3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-left: 0.55rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}
