
.header{
  left: 0;
  right: 0;
  top: 0;
  height: 6.938rem;
  background-color: #A2B5BB;
  border-bottom: #000 2px solid;
}
.logo {
  float:left;
  width: 4.688rem;
  height: 4.75rem;
  flex-grow: 0;
  margin: 1.375rem 10.875rem 0.813rem 5.5rem;
}

.header_nav {
  display: flex;
  float:right;
  height: 1.125rem;
  margin-top: 3.25rem;
  margin-right: 3.939rem;
  flex-grow: 0;
  font-family: 'nintendo';
  font-size: 2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.profile{ 
  margin-left:1.313rem;
}
.page{
  display: flex;
}

.upload a {
  padding-right: 1.5vw;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.fishlist a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.profile a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}