
.img_box {
    width: 20.188rem;
    height: 1.438rem;
}
.drag_and_drop{
    width: 28rem;
    height: 17rem;
    background-image: url("../../../public/img/MessageTop.png");
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
