.box {
    width: 40.538rem;
    height: 39.558rem;
    flex-grow: 0;
    margin: 10.34rem 0 0 1.313rem;
    padding: 2.188rem 2rem 1.688rem 1.938rem;
    border: solid #000;
    border-width: 0.126rem 0.126rem 0.126rem 0px;
}

.imgBox {
    width: 19rem;
    height: 7.68rem;
    flex-grow: 0;
    margin: 0 0.313rem 1.375rem 0;
    padding: 4.813rem 11.125rem 4.25rem 11.188rem;
    background-color: #d9d9d9;
}

.numbering {
    width: 3rem;
    height: 1.313rem;
    flex-grow: 0;
    margin: 0 18.5rem 0rem 18rem;
    font-family: Poppins;
    font-size: 0.75rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.name {

    width: 4.813rem;
    height: 3.125rem;
    flex-grow: 0;
    margin: 0rem 17.563rem 0.313rem 17.125rem;
    font-family: Poppins;
    font-size: 2.25rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;

}

.engName {
    width: 5.25rem;
    height: 1.063rem;
    flex-grow: 0;
    margin: 0.313rem 17.125rem 1.5rem;
    font-family: Poppins;
    font-size: 0.75rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.explain {
    width: 39.5rem;
    height: 3.438rem;
    flex-grow: 0;
    margin: 1.5rem 0 0;
    font-family: Poppins;
    font-size: 0.75rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.infoBox {
    width: 39.5rem;
    height: 7.188rem;
    flex-grow: 0;
    margin-top: 1.2rem;
    padding: 0.75rem 0.75rem 0.625rem 0.625rem;
    border-radius: 13px;
    border: solid 0.128rem #9e9e9e;
    background-color: #fff;
}

.infoBox_Line {
    width: 39.688rem;
    height: 0.128rem;
    flex-grow: 0;
    margin: 0.938rem 0.438rem 1.122rem 0;
    transform: rotate(-0.1deg);
    background-color: #9e9e9e;
}
.infoBox_title{
    display:flex;
    justify-content: space-between;
    margin-right: 9rem;
    font-family: Poppins;
    font-size: 0.75rem;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9e9e9e;
}
.infoBox_Content{
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
}
.content_3{
    margin-left: 6.5rem;
}
